[submodule "src"]
	path = src
	url = https://github.com/u-boot/u-boot.git
[submodule "atf"]
	path = atf
	url = https://github.com/ARM-software/arm-trusted-firmware.git
[submodule "fip"]
	path = fip
	url = https://github.com/radxa/fip.git
[submodule "rkbin"]
	path = rkbin
	url = https://github.com/radxa/rkbin
