{
  "*": {
    "Releases": [
      "buster",
      "buster-test",
      "bullseye",
      "bullseye-test",
      "bookworm",
      "bookworm-test",
      "sid",
      "sid-test",
      "focal",
      "focal-test",
      "jammy",
      "jammy-test",
      "s905y2-trixie",
      "s905y2-trixie-test",
      "a311d-trixie",
      "a311d-trixie-test"
    ]
  }
}
